extends layout

block content
	div(class='crisis')
		div(class='crisistitle') FIRE
		div(class='crisistext') In the event of a fire, scream and panic for all you're worth.

	div(class='crisis')
		div(class='crisistitle') WiFi Down
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') We Run out of Food
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Fire Marshal Freaks Out
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Police Get Angry With Us
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Food Poisoning
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Caffeine Overdose
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Power Outage
		div(class='crisistext')

	div(class='crisis')
		div(class='crisistitle') Nanci Freaks the F**k Out
		div(class='crisistext') Remain calm, and approach the situation as you would a bear attack.  Hide small children.  Also hide food.  Do not attempt to run.  Make yourself appear as large as possible.  Generate as much noise as possible, be that through the banging of pots and pans or a lot of yelling.  Don't back down.  Eventually Nancy will retreat and begin hibernation for the winter.  If all else fails, start talking about tents. Find pictures of really big tents. With lights. Lots of pretty lights.

	div(class='crisis')
		div(class='crisistitle') Professor starts threatening people/cables with garden shears...
		div(class='crisistext') We're gonna try really hard to avoid this one, but in the event that it does happen, you should get an organizer.  DO NOT ENGAGE THE WIELDER OF THE GARDEN SHEARS.  I REPEAT, DO NOT ENGAGE.  I don't care how many years of fencing experience you have, it's not worth it.  If cables get cut it'll be a major bummer for the hackathon experience, but it'll be an even bigger bummer for us if you get hurt.