extends layout

block content
	div(id="menu")
		div(id="menutitle")
			h3 TreeHacks Voluntree Menu
		div(class="menulink") Home
		div(class="menulink" onclick="link('announcements.html')") Announcements
		div(class="menulink" onclick="link('schedule.html')") Weekend Schedule

	div(id="content")
		div(id="titlebar") TreeHacks
			div(id="menubtn")
		
		[Insert image-y thing here]

		p Thanks for volunteering at TreeHacks!
		p This is your go to place for information, alerts, and/or crises notifications as they come to us.  Check back often for announcements as we announce them.  For extremely urgent matters such as the building burning down, run and find Alex Bertrand.  Also feel free to get him for less urgent things, as well.
		p Thanks again!

		h1 EVERYTHING YOU NEED TO KNOW:
		p Thanks again for volunteering!  By way of a quick orientation, read this monologue'd Q&A.

		h5 What is a hackathon?
		p A hackathon is a big gathering of 'hackers' (anybody who likes to work on computer related projects), usually for about 36 hours.  During that time, hackers form teams of up to 4, choose a project they'd like to work on for the weekend, and go at it!  Oftentimes there will be prizes, but the core of the idea is a time when people can get together and bring their crazy ideas to life.

		h5 So what am I doing here?
		p This is TreeHacks, Stanford's inaugural hackathon.  You're helping to run it!  Naturally, managing 500+ college kids in one place requires a lot of logistical hoop-jumping and planning.  You're here to help make everything go smoothly, so everyone can have a good experience.

		h5 What's this site for?
		p This is the TreeHacks Voluntree Site, your one stop shop for all things volunteer-related.  We built it to put as much information as we could at your fingertips - educated volunteers make good volunteers.  And we figure it'll be more fun for you if you're not totally in the dark about what the heck's going on! :)
		p To give you a rundown of the parts of this site:
			ul
				li Home: you're here!
				li Organizers: This page has flattering pictures of all the organizers.  If you'd like to admire our (not so) pretty faces that's cool, but the main point is to give you an idea of who to call in the event that something goes horribly, horribly wrong.
				li Announcements:  Check this page often for the latest on what's happening.  It'll be updated live for you, hooray!
				li Weekend Schedule: This is the full schedule of the weekend's events to help you stay on your toes!
				li Contact Info: This page has the contact information for anyone and everyone you'll need, including the organizers and all volunteers.
				li Crisis Manual: Along with the organizers page, the other part of your instructions for when things go awry.  We've put information here about what to do in the event that certain crises occur.  Also, note the panic button in the top right - this will ping the organizers directly, and we'll come running.  You don't have to type anything, in case the situation is that bad.  For anything more minor, just text us.

