doctype html
html
  head
    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    // This is a comment.
    // Font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,900', type='text/css')
    
    // Page specific CSS
    link(rel='stylesheet', href='/css/#{pagetitle}.css')

    // Libraries
    script(src='/js/libs/jquery-2.1.1.min.js')
    script(src='/js/libs/d3.min.js')

    // Menu and Titlebar
    script(src='js/menu.js')
    link(rel='stylesheet', href='/css/titlebar.css')
    link(rel='stylesheet', href='/css/menu.css')

    // Page specific js
    block script

  body

    div(id="menu")
        div(id="menutitle")
            h3 TreeHacks Menu
        div(class="menulink" onclick="link('/')") Home
        div(class="menulink" onclick="link('announcements')") Announcements
        div(class="menulink" onclick="link('schedule')") Weekend Schedule
        div(class="menulink" onclick="link('organizers')") Organizers
        div(class="menulink" onclick="link('contacts')") Contact Info
        div(class="menulink" onclick="link('crises')") Crisis Manual

    div(id="content")
        div(id="titlebar") TreeHacks
            div(id="menubtn")
                img(src="/images/hamburger_frameless.png")

        block content