body, html {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}

#menubtn {
	/*background-color: rgba(255, 255, 255, .1);*/
	/*height: 100%;
	border-radius: 5px;*/
	display: inline-block;
	position: absolute;
	left: 5px;
}

#menubtn img {
	height: 50px;
}

#menubtn:hover {
	cursor: pointer;
}

#menu {
	position: fixed;
	z-index: 0;
	background-color: #ecf0f1;
	height: 100%;
}

#menutitle {
	padding: 5px;
}

.active {
	background-color: black;
	color: white;
}

.menulink {
	padding: 5px;
	border-top: 1px solid #bdc3c7;
}
.menulink:hover {
	cursor: pointer;
}

#content {
	min-height: 100%;
	position: relative;
	background-color: white;
	/*padding-top: 5em;*/ /*correlates with height of titlebar */
	padding-bottom: 10px;
	left: 0;
}